# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Virtual Environment
venv/
pip-log.txt
pip-delete-this-directory.txt

# Secret key
*.secret

# IDE files
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Custom
data/
env/